:root {
  --x-light:#e5f5fc;
  --light: #66c5ee;
  --mid-light: #32b2e8;
  --mid: #009fe3;
  --mid-dark: #004f71;
  --mid-darker: #003f5a;
  --dark: #001f2d;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  background-color: var(--mid-dark);
}

/* ------------------------------------------- */

#navbar{
  background-color: var(--dark);
}

.nav-link{
  color: var(--light);
  transition: 0.4s ease-out;
}

.nav-link:active,  .nav-link:hover, .nav-link:focus {
  color:var(--x-light);
  transform: scale(1.1);
}

#nav-name{
  color: var(--mid)
}

#basic-navbar-nav {
  background-color: var(--dark);
}

#nav-default{
  display: block;
}

#nav-logo{
  display: block;
}

/* ------------------------------------------- */

#footer{
  background-color: var(--mid-darker);

}

/* ------------------------------------------- */

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

}

/* ------------------------------------------- */

#aboutme{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* ------------------------------------------- */

#homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-text{
  text-align: center;
}

#portrait{
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}



/* ------------------------------------------- */ 

#contactform{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#form-control{
  background-color: var(--x-light);
}

#form-label{
  color: var(--light);
}

/* ------------------------------------------- */

#project-card{
  color:var(--mid-dark);
  border: none;
  transition: 0.6s ease-in-out;
}


#project-card:hover{
 transform: scale(1.2);
}

#card-overlay {
  transition: 0.7s ease-in-out;
}

#card-overlay:hover{
  background-color: #001f2d;
  opacity: 90%;
}

#project-card-a {
  color:var(--mid);
  opacity: 0;
  transition: opacity 0.7s ease;
  font-family: 'North', Arial, Helvetica, sans-serif;
  font-size: medium;
}

#project-card-text{
  color:var(--light);
  opacity: 0;
  transition: opacity 0.7s ease;
}

#project-card-github {
  opacity: 0;
  transition: opacity 0.7s ease;
}


#project-card:hover #project-card-a{
  opacity: 1;
  transition-delay: 0.15s;
}

#project-card:hover #project-card-text{
  opacity: 1;
  transition-delay: 0.15s;
}

#project-card:hover #project-card-github{
  opacity: 1;
  transition-delay: 0.15s;
}


/* ------------------------------------------- */

h3 {
  margin: 0.5em 0 0.5em 0;
}

p{
  color: var(--light);
}

h1, h2, h3, h4, h5 {
  color: var(--light);
  font-family: 'North', Arial, Helvetica, sans-serif;
}
/* ------------------------------------------- */

/* .page {
  transition: 300ms ease-in-out
} */

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 600ms, transform 600ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 600ms, transform 600ms;
}

/* ------------------------------------------- */

@font-face {
  font-family: 'North';
  src: url('./assets/North.otf') format('opentype');
}

/* ------------------------------------------- */
/* large */
@media screen and (max-width: 8000px) {
  #nav-logo {
    display: none;
  }
}

@media screen and (max-width: 762px) {
  #basic-navbar-nav {
    width: 100%;
    justify-content: center;
}
  .nav-link{
    padding: 1em;
  }
  #nav-list {
    align-items: center;
  }
}

/* small */
@media screen and (max-width: 355px) {
  #nav-default{
    display: none;
  } 
  #nav-logo{
    display: block;
  }
}


/* x-small */
/* @media screen and (max-width: 280px) {
  #nav-default{
    display: none;
  } 
  #nav-logo{
    display: block;
  }
} */




